{%include "header.html" %}

</div>
                            </div>       <div class="main" style="margin-top:15vh;">
            <div class="container-fluid">
                <div class="row">
                    <!-- <div class="col-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo nisi, laudantium corporis deleniti quasi labore quisquam hic voluptas blanditiis cumque excepturi? Error recusandae quidem assumenda aliquam quas dolor autem!
                    </div> -->
                    <div class="col-9 offset-1">
                        <div class="container-fluid" style="background:background rgba(238, 236, 236, 0.705)";>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-3 text-center">
                                            <img src=" {{user_profile.profileimg.url}}" alt="" class="profile-photo rounded">
                                        </div>
                                        <div class="col-8 ml-5">
                                            <div class="row mt-4">
                                                <div class="col-9">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h1 class="full-name w-100">lanka</h1>
                                                        </div>
                                                                                                                    <div class="col">
                                                                <a href="settings" class="btn btn-outline-dark">Edit Profile</a>
                                                            </div>
                                                                                                            </div>


                                                    <h5 class="user-name">lanka123@gmail.com</h5>



                                                    
                                                    
                                                                                                    </div>
                                                <div class="col-3">
                                                                                                    </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-1   "></div>
                                                <div class="col-10">
                                                    <div class="row">
                                                        <div class="col">
                                                            <a href="" class="btn btn-outline-dark w-100">Followers
                                                                <span id="followers" class="badge badge-primary">0</span>
                                                            </a>
                                                        </div>
                                                        <div class="col">
                                                            <a href="" class="btn btn-outline-dark w-100">Following
                                                                <span id="following" class="badge badge-primary">0</span>
                                                            </a>
                                                        </div>
                                                        
                                                    
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="profile-tabs mt-3 mb-3">
                                                <ul class="nav nav-tabs justify-content-around" role="tablist">
                                                    <li class="nav-item text-center w-25">
                                                        <a href="thoughts" class="nav-link active font-weight-bold" >Thoughts</a>
                                                    </li>
                                                    <li class="nav-item text-center w-25">
                                                        <a  href="about_me" class="nav-link font-weight-bold" >About</a>
                                                    </li>
                                                    <li class="nav-item text-center w-25">
                                                        <a href="my_photos" class="nav-link font-weight-bold" ">Photos</a>
                                                    </li>
                                                </ul>
                                            </div>
<div class="posts-container">

        <div class="container-fluid d-flex justify-content-center mt-5 text-muted">
            <h1 class="display-4">Still Have not posted any thoughts!</h1>
        </div>
   
?>
</div>